/* taustapilt */
.taustaPilt{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(taustapilt.jpeg)
}

/* teksti üldine ülesehitus */
.tekst{
    width: 90%;
    color: white;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* pildipealse teksti ülesehitus */
.tekst h1{
    font-size: 70px;
}
.firmanimi {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 150px;
    vertical-align: sub;
}

/* Meist */
.meist {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.meist h1 {
    font-size: 30px;
}
.meist p {
    font-size: 15px;
}
.meist h2 {
    color: gray;
    font-size: 20px;
    padding: 10px;
}
.meist h3 {
    font-size: 20px;
}
.tulbad {
    padding: 10px;
    justify-content: center;
    align-content: center;
    display: grid;
    gap: 15%;
    grid-auto-flow: column;
}
.tulp {
    margin: auto;
    text-align: center;
    width:100%;
}

figcaption {
    text-align: center;
    width: 100px;
}
figure {
    display: inline-block;vertical-align: middle;
}
.pildid {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.kontaktid {
    font-size: 30px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
.kontaktid #ikoonid {
    font-size: 1cm;
    letter-spacing: 15px;
    align-items: center;
  }
/* Ajalugu */
.ajalugu {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}
.ajalugu h1 {
    font-size: 30px;
}
.ajalugu h2 {
    color: gray;
    font-size: 20px;
    padding: 10px; 
}
.ajalugu p {
    font-size: 15px;
    padding: 10px; 
}
.firmanimi2 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}
/* tule tööle */
.põhjused {
    padding: 0rem 2rem 0rem 2rem;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-content: center;
    display: grid;
    gap: 4px;
    grid-auto-flow: column;
}
img {
    margin-left: 5%;
    margin-top: 5%;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.töö {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
}
.töö h1 {
    font-size: 30px;
}
.töö p {
    font-size: 15px;
    padding: 10px;
}
.töö h2 {
    color: gray;
    font-size: 20px;
    padding: 10px;
}