@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.taguminePilt{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(background.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;

}
.navbar {
  justify-content: space-between;
  padding: 10px 0;
  margin: auto;
  width: 100%;
  align-items: center;
  display: flex;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid whitesmoke;
}
.navbar p{
  color: aliceblue;
  margin-left: 100px;
  font-size: 2cm;
  font-family: 'Chakra Petch', sans-serif;
}
.navbar ul{
  margin-right: 100px;
}
.navbar ul li{
  color: white;
  font-size: x-large;
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 1px;
  border-bottom: 1px solid white;

  
}
.tutvustavTekst{
  font-family: monospace;
  position: relative;
  width: auto;
  top: 10%;
  left: 5%;
  max-width: 70%;
  border: 1px solid green;
  padding: 5px;
  
}
.tutvustavTekst #küsilause1{
  font-size: 2cm;
  color: white;
  position: relative;
  font-weight: 700;
  text-align: left;

}
.tutvustavTekst #lause2{
  font-size: x-large;
  color: white;
  position: relative;
  font-weight: 900;
  font-size: 30px;
  text-align: left;
  padding-top: 30px;
  font-family: 'Arvo', serif;

}
.selgitav{
  position: fixed;
  width: 80%;
  border: 1px solid green;
  height: 7cm;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.selgitav .pildid{
  position: relative;
  display: flex;
  font-size: 3cm;
  color: white;
  letter-spacing: 50px;
  border: 1px solid green;
  justify-content: center;
  padding: 1cm;
}
.selgitav .pildid #kast1{
  padding: 0cm 2cm;
  border: 1px solid green;
  background: rgba(14, 31, 182, 0.712);
}
.selgitav .pildid p{
  font-size: small;
  letter-spacing: 0cm;
}
.selgitav .pildid #kast2{
  padding: 0cm 2cm;
}
.selgitav .pildid #kast3{
  padding: 0cm 2cm;
}
.jalus{
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  height: 50px;
} 

