@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Raleway:wght@200&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/*----- taustapilt -----*/
body{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(taustapilt.jpeg);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  position: relative;
  font-family: 'Raleway', sans-serif;
}
/*----- suur lööklause + kirjeldav lause  -----*/
.tutvustavTekst{
  font-family: monospace;
  position: absolute;
  width: auto;
  margin-top: 2%;
  margin-left: 5%;
  text-align: left;
  color: white;
  margin-bottom: 5%;

}
.tutvustavTekst #küsilause1{
  font-size: 2cm;
  font-weight: 700;
}
.tutvustavTekst #lause2{
  font-weight: 900;
  font-size: 30px;
  padding-top: 10px;
}
/*----- kolm kasti lehe alumises osas koos ikoonide ja kirjeldavate tekstidega  -----*/
.pildid{
  display: flex;
  font-size: 60px;
  color: white;
  gap: 10px;
  position: absolute;
  top: 55%;
  width: 100%;
}
.pildid .kast{
  background: rgba(0,0,0,0.5);
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  border-radius: 10px;
  overflow:auto;
}
.pildid i{
  margin: 10px;
}
.pildid .pealkiri {
  color: aquamarine;
  font-size: 25px;
}
.pildid p{
  font-size: 20px;
  text-align:left;
  margin: 20px 20px;
  line-height: 30px;
}
/*----- jalus koos ikoonide ja kontaktandmetega -----*/
footer{
  width: 100%;
  height: 2cm;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;  
  position: fixed;
  bottom: 0;
}
footer #ikoonid {
  font-size: 1cm;
  letter-spacing: 15px;
  align-items: center;
}
footer ul li {
  font-size: 30px;
  display: inline;
  padding: 0px 30px;
}
footer #ikoonid{
  text-decoration: none;
}
footer #ikoonid a:link{
  color: black;
}
footer #ikoonid a:hover{
  color: black;
}
footer #ikoonid a:visited {
  color: black;
}

