*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.taguminePilt{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(background.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;

}
.navbar {
  justify-content: space-between;
  border: 3px solid green;
  padding: 30px 0;
  margin: auto;
  width: 100%;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid whitesmoke;
}
.navbar p{
  color: aliceblue;
  margin-left: 100px;
}
.navbar ul{
  margin-right: 100px;
}
.navbar ul li{
  color: white;
  font-size: x-large;
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;

  
}
.tutvustavTekst{
  font-family: monospace;
  top: 200px;
  position: absolute;
  left: 35%;
}
.tutvustavTekst #küsilause1{
  font-size: 20px;
  color: white;
  position: relative;
  font-weight: 700;
  text-align: center;

}
.tutvustavTekst #lause2{
  font-size: x-large;
  color: white;
  position: relative;
  font-weight: 900;
  font-size: 2cm;
  text-align: center;

}
.tutvustavTekst #lause3{
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
}
.tutvustavTekst #sõna1{
  color: beige;
}
.selgitav #küsimärk{
  border: 1px solid green;
  font-size: 1cm;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  color: white;
}
.jalus{
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid green;
  bottom: 0;
  height: 50px;
} 

