@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Raleway:wght@200&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.taguminePilt{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(background.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  position: relative;
}
.navbar {
  justify-content: space-between;
  padding: 10px 0;
  margin: auto;
  width: 100%;
  align-items: center;
  display: flex;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid whitesmoke;
}
.navbar p{
  color: aliceblue;
  margin-left: 100px;
  font-size: 2cm;
  font-family: 'Chakra Petch', sans-serif;
}
.navbar ul{
  margin-right: 200px;
}
.navbar ul li{
  color: white;
  font-size: x-large;
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 1px;
  border-bottom: 1px solid white;
}
.tutvustavTekst{
  font-family: monospace;
  position: relative;
  width: auto;
  top: 10%;
  left: 5%;
  max-width: 70%;
  padding: 5px;
}
.tutvustavTekst #küsilause1{
  font-size: 2cm;
  color: white;
  position: relative;
  font-weight: 700;
  text-align: left;
}
.tutvustavTekst #lause2{
  font-size: x-large;
  color: white;
  position: relative;
  font-weight: 900;
  font-size: 30px;
  text-align: left;
  padding-top: 30px;
  font-family: 'Arvo', serif;
}
.pildid{
  position: relative;
  height: 7cm;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-size: 60px;
  color: white;
  justify-content: center;
  padding: 1cm;
  font-family: 'Raleway', sans-serif;
}
.pildid #kast1{
  background: rgba(0,0,0,0.5);
  display: flex;
  width: 500px;
  height: 200px;
  padding: 20px;
  margin: 0px 50px;
  align-items: center;
  border-radius: 10px;
}
.pildid #kast2{
  background: rgba(0,0,0,0.5);
  display: flex;
  width: 500px;
  height: 200px;
  padding: 20px;
  align-items: center;
  margin: 0px 50px;
  border-radius: 10px;
}
.pildid #kast3{
  background: rgba(0,0,0,0.5);
  display: flex;
  width: 500px;
  height: 200px;
  padding: 20px;
  align-items: center;
  margin: 0px 50px;
  border-radius: 10px;
}
.pildid #pealkiri {
  color: aquamarine;
  font-size: 25px;
}
.pildid p{
  font-size: 20px;
  text-align:left;
  margin: 0px 20px;
  line-height: 30px;
}
.jalus{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 2cm;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  
}
.jalus #ikoonid {
  color: white;
  font-size: 1cm;
  letter-spacing: 15px;
  align-items: center;
}
.jalus ul li {
  color: white;
  font-size: 30px;
  display: inline;
  padding: 0px 30px;
  font-family: 'Raleway', sans-serif;
}

