/* Fondid */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Raleway:wght@200&display=swap');

/* üldine */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* taustapilt */
/* iga lehe pilt vastavas css'is */
.taustaPilt{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

/* Navigation bar design */
.navbar{
    justify-content: space-between;
    padding: 10px 0;
    margin: auto;
    width: 100%;
    align-items: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid whitesmoke;
    height: 120px;
}
.navbar p{
    color: aliceblue;
    margin-left: 100px;
    font-size: 2cm;
    font-family: 'Chakra Petch', sans-serif;
    padding: 0px;
  }
.navbar ul{
    margin-right: 100px;
}
.navbar ul li{
    color: white;
    font-size: x-large;
    display: inline-block;
    margin: 0px 20px;
    font-family: 'Chakra Petch', sans-serif;
    letter-spacing: 1px;
    border-bottom: 1px solid white;
    list-style: none;
}

/* linkide ülesehitus navigation bar'il */
/* Jooneta link */
.navbar ul li a {
    text-decoration: none;
}
.navbar ul li a:link {
    color: white;
}
.navbar ul li a:visited {
    color: white;
}
.navbar ul li a:hover {
    color: white;
    cursor: pointer;
}
